<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Mentoring - Dashboard</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicon.png">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="static/assets/css/bootstrap-4.2.1.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="static/assets/css/font-awesome.min.css">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="static/assets/css/feathericon.min.css">
		
		<link rel="stylesheet" href="static/assets/plugins/morris/morris.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="static/assets/css/style.css">
		
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/jquery.nicescroll.min.js"></script>
        <script src="static/js/echarts.js"></script>
        <!--socketIO -->
        <script src="static/js/socket.io.dev.js"></script>
        <!--socket io get information -->
        <script src="static/js/notification.js"></script>
        <script src="static/js/socketio.js"></script>
        <!--file update information -->
        <script type="text/javascript">
            let files = {{ files|tojson }};
            let chart_data = {{ chart_data|tojson }};
            let current_file = {{ current_file|tojson }}
        </script>



<script>
  $(document).ready(function() {
	var nice = $("html").niceScroll();  // The document page (body)
	
	$("#div1").html($("#div1").html()+' '+nice.version);
    
    $("#boxscroll").niceScroll({cursorborder:"",cursorcolor:"#00F",boxzoom:true}); // First scrollable DIV

    $("#boxscroll2").niceScroll("#contentscroll2",{cursorcolor:"#F00",cursoropacitymax:0.7,boxzoom:true,touchbehavior:true});  // Second scrollable DIV
    
  });
</script>
    </head>
    <body>
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header">
			
				<!-- Logo -->
                <div class="header-left">
                    <a href="index" class="logo">
						<img src="static/assets/img/logo.png" alt="Logo">
					</a>
					<a href="index" class="logo logo-small">
						<img src="static/assets/img/logo-small.png" alt="Logo" width="30" height="30">
					</a>
                </div>
				<!-- /Logo -->
				
				<a href="javascript:void(0);" id="toggle_btn">
					<i class="fe fe-text-align-left"></i>
				</a>
				
				<div class="top-nav-search">

				</div>
				
				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fa fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->
				
				<!-- Header Right Menu -->
				<ul class="nav user-menu">
					
					<!-- Notifications -->
					<li class="nav-item dropdown noti-dropdown">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<i class="fe fe-bell"></i> <span class="badge badge-pill" id="infor_count"></span>
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">消息提醒</span>
								<a href="javascript:void(0)" class="clear-noti"> 隐藏 </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="report">查看所有报告信息</a>
							</div>
						</div>
					</li>
					<!-- Notifications -->
					<!-- Write -->
					<li >
						<a data-toggle="modal" href="#text_inputs" title="信息上报">
							<i class="fe fe-file"></i>
						</a>
					</li>
					<!-- Write -->
					<!-- download-->
					<li >
						<a href="file-management" title="数据下载">
							<i class="fe fe-download"></i>
						</a>
					</li>
					<li >
						<a data-toggle="modal" href="#text_upload" title="数据上传">
							<i class="fe fe-upload"></i>
						</a>
					</li>

					<li class="nav-item dropdown has-arrow">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img"><img class="rounded-circle" src="static/assets/img/profiles/{{ user.account }}.jpg" width="31" alt="Ryan Taylor"></span>
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
								<div class="avatar avatar-sm">
									<img src="static/assets/img/profiles/{{ user.account }}.jpg" alt="User Image" class="avatar-img rounded-circle">
								</div>
								<div class="user-text">
									<h6>{{ user.name }}</h6>
									<p class="text-muted mb-0">Administrator</p>
								</div>
							</div>
							<a class="dropdown-item" href="profile">配置文件</a>
							<a class="dropdown-item" href="logout"><font color="#E63C3C">退出</font></a>
						</div>
					</li>
					<!-- /User Menu -->
				</ul>
				<!-- /Header Right Menu -->
				
            </div>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu" style="background: #293c55;">
						<ul>
                            <li style="background:#9ca8b8;">
								<a href="index"> <span><font color="#293c55">● 大气波导分析计算</font></span> </a>
							</li>
                            <li>
								<a href="evaporation"><font color="#CCCCCC">蒸发波导高度计算</font></a>
							</li>
                            <li>
								<a href="tem-hum"><font color="#CCCCCC">温湿廓线分析计算</font></a>
							</li>
							<li>
								<a href="file-management"><font color="#CCCCCC">文件管理</font> </a>
							</li>
							<li class="submenu">
								<a href="#"><font color="#CCCCCC">权限管理与设置</font> </a>
								<ul style="display: none;">
									<li><a href="profile"><font color="#CCCCCC"> 个人信息设置 </font></a></li>
                                    {% set level = user.level | int %}
                                    {% if level > 0 %}
									<li><a href="user-management"><font color="#CCCCCC"> 用户管理 </font></a></li>
                                    {% endif %}
									<li><a href="report"><font color="#CCCCCC"> 信息报表管理 </font></a></li>
								</ul>
							</li>
						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">欢迎来到大气波导分析页面!</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item active">当前所选的文件名称为：{{ current_file.filename }}  </li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
                    <div>
                        <div class="card">
                            <div class="col-md-10 col-lg-6" >
                                <div class="card-header" >
									    <h4 class="card-title">选择所要展示的数据文件</h4>
							    	</div>
                                <div class="card-body">
                                    <div class="input-group">
                                        <select id="chartSelect" class="custom-select">
                                        </select>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" id="confirmSelect">确认</button>
                                        </div>
                                    </div>
								</div>
                            </div>
                        </div>
                    </div>

					<div class="row" >
						<div class="col-md-12 col-lg-6" >
							<!-- Sales Chart -->
							<div class="card card-chart" >
								<div class="card-header" >
									<h4 class="card-title">波导折线图</h4>
								</div>
								<div class="card-body" id='echarts-line'>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-6" >
						
							<!-- Sales Chart -->
							<div class="card card-chart" >
								<div class="card-header" >
									<h4 class="card-title">波导柱形图</h4>
								</div>
								<div class="card-body" id='echarts-bar'>
									
								</div>
							</div>
						</div>
					</div>
                    <div class="row" >
						<div class="col-md-12 col-lg-6" >
							<!-- Sales Chart -->
							<div class="card card-chart" >
								<div class="card-header" >
									<h4 class="card-title">雷达损耗图</h4>
								</div>
								<div class="card-body" id='echarts-radar'>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-6" >

							<!-- Sales Chart -->
							<div class="card card-chart" >
								<div class="card-header" >
									<h4 class="card-title">电磁波损耗图</h4>
								</div>
								<div class="card-body" id='echarts-ele'>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Page Wrapper -->
		
		</div>
        <script src="static/js/selection.js"></script>
		<script src="static/js/dialog.js"></script>
		<script src="static/js/download.js"></script>
		<script src="static/js/upload.js"></script>

		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="static/assets/js/jquery-1.10.2.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="static/assets/js/popper.min.js"></script>
        <script src="static/assets/js/bootstrap.min.js"></script>
		
		<!-- Slimscroll JS -->
        <script src="static/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		
		<script src="static/assets/plugins/raphael/raphael.min.js"></script>    
		<script src="static/assets/plugins/morris/morris.min.js"></script>  
		<script src="static/assets/js/chart.morris.js"></script>
		
		<!-- Custom JS -->
		<script  src="static/assets/js/script.js"></script>
				
		<script type="text/javascript" src="static/chart/index/main.js"></script>
		
    </body>
</html>