<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Mentoring - Dashboard</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicon.png">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="static/assets/css/bootstrap-4.2.1.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="static/assets/css/font-awesome.min.css">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="static/assets/css/feathericon.min.css">
		
		<link rel="stylesheet" href="static/assets/plugins/morris/morris.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="static/assets/css/style.css">
		
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/jquery.nicescroll.min.js"></script>
        <script src="static/js/echarts.js"></script>
        <!--socketIO -->
        <script src="static/js/socket.io.dev.js"></script>
        <!--socket io get information -->
        <script src="static/js/notification.js"></script>
        <!--file update information -->
        <script type="text/javascript">
            let files = {{ files|tojson }};
            let chart_data = {{ chart_data|tojson }};
            let current_file = {{ current_file|tojson }};
            let radar_cost = {{ radar_data|tojson }};
        </script>
        <script src="static/js/loading.js"></script>

<script>
  $(document).ready(function() {
	var nice = $("html").niceScroll();  // The document page (body)
	
	$("#div1").html($("#div1").html()+' '+nice.version);
    
    $("#boxscroll").niceScroll({cursorborder:"",cursorcolor:"#00F",boxzoom:true}); // First scrollable DIV

    $("#boxscroll2").niceScroll("#contentscroll2",{cursorcolor:"#F00",cursoropacitymax:0.7,boxzoom:true,touchbehavior:true});  // Second scrollable DIV
    
  });
</script>
    </head>
    <body>
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header">
			
				<!-- Logo -->
                <div class="header-left">
                    <a href="index" class="logo">
						<img src="static/assets/img/logo.png" alt="Logo">
					</a>
					<a href="index" class="logo logo-small">
						<img src="static/assets/img/logo-small.png" alt="Logo" width="30" height="30">
					</a>
                </div>
				<!-- /Logo -->
				
				<a href="javascript:void(0);" id="toggle_btn">
					<i class="fe fe-text-align-left"></i>
				</a>
				
				<div class="top-nav-search">

				</div>
				
				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fa fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->
				
				<!-- Header Right Menu -->
				<ul class="nav user-menu">
					
					<!-- Notifications -->
					<li class="nav-item dropdown noti-dropdown">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<i class="fe fe-bell"></i> <span class="badge badge-pill" id="infor_count"></span>
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">消息提醒</span>
								<a href="javascript:void(0)" class="clear-noti"> 隐藏 </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="report">查看所有报告信息</a>
							</div>
						</div>
					</li>
					<!-- Notifications -->
					<!-- Write -->
					<li >
						<a data-toggle="modal" href="#text_inputs" title="信息上报">
							<i class="fe fe-file"></i>
						</a>
					</li>
					<!-- Write -->
					<!-- download-->
					<li >
						<a href="file-management" title="数据下载">
							<i class="fe fe-download"></i>
						</a>
					</li>
					<li >
						<a data-toggle="modal" href="#text_upload" title="数据上传">
							<i class="fe fe-upload"></i>
						</a>
					</li>
                    <li >
						<a href="radar-infor" title="雷达数据更新">
							<i class="fe fe-info"></i>
						</a>
					</li>
					<li class="nav-item dropdown has-arrow">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img"><img class="rounded-circle" src="static/assets/img/profiles/{{ user.account }}.jpg" width="31" alt="Ryan Taylor"></span>
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
								<div class="avatar avatar-sm">
									<img src="static/assets/img/profiles/{{ user.account }}.jpg" alt="User Image" class="avatar-img rounded-circle">
								</div>
								<div class="user-text">
									<h6>{{ user.name }}</h6>
									<p class="text-muted mb-0">Administrator</p>
								</div>
							</div>
							<a class="dropdown-item" href="profile">配置文件</a>
							<a class="dropdown-item" href="logout"><font color="#E63C3C">退出</font></a>
						</div>
					</li>
					<!-- /User Menu -->
				</ul>
				<!-- /Header Right Menu -->
				
            </div>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu" style="background: #293c55;">
						<ul>
                            <li style="background:#9ca8b8;">
								<a href="index"> <span><font color="#293c55">● 大气波导分析计算</font></span> </a>
							</li>
                            <li>
								<a data-toggle="modal" href="#loadingPage" onclick="pageLoading()" ><font color="#CCCCCC">蒸发波导高度计算</font></a>
							</li>
                            <li>
								<a href="tem-hum"><font color="#CCCCCC">温湿廓线分析计算</font></a>
							</li>
							<li>
								<a href="file-management"><font color="#CCCCCC">文件管理</font> </a>
							</li>
							<li class="submenu">
								<a href="#"><font color="#CCCCCC">权限管理与设置</font> </a>
								<ul style="display: none;">
									<li><a href="profile"><font color="#CCCCCC"> 个人信息设置 </font></a></li>
                                    {% set level = user.level | int %}
                                    {% if level > 0 %}
									<li><a href="user-management"><font color="#CCCCCC"> 用户管理 </font></a></li>
                                    {% endif %}
									<li><a href="report"><font color="#CCCCCC"> 信息报表管理 </font></a></li>
                                    <li><a href="radar-infor"><font color="#CCCCCC"> 雷达信息设置 </font></a></li>
								</ul>
							</li>
						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">欢迎来到大气波导分析页面!</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item active">当前所选的文件名称为：{{ current_file.filename }}  </li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
                    <div class="row">
						<div class="col-sm-4 col-12">
							<div class="card" style="background-color: #425daf;" onclick="descriptionRow()" title="
							因客观气象条件而形成的大气波导能否将电磁波捕获在其内形成波导传播与电磁波的波长有关。一般来说，波长越短的电磁波，越容易被波导捕获。能被波导捕获的最大波长称为截止波长，与截止波长相对应的最低电波频率成为最低陷获频率。
由最大波长的计算公式可知：
(1)大气波导厚度远大于电磁波波长时，才能捕获电磁波形成波导传播；
(2)大气波导的厚度愈厚，可形成波导传播的电磁波波长范围的上限愈长；
(3)大气波导的强度愈强，可形成波导传播的电磁波波长范围的上限愈长。
							">
								<div class="card-body">
									<div class="dash-widget-header">
										<span class="dash-widget-icon text-primary border-primary">
											<i class="fa fe-check"></i>
										</span>
										<div class="dash-count">
											<h3 id="cutoff-len" style="color: ghostwhite;">暂无</h3>
										</div>
									</div>
									<div class="dash-widget-info">
										<h6 class="text-muted">截止波长</h6>
										<div class="progress progress-sm">
											<div class="progress-bar bg-primary"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-12">
							<div class="card" style="background-color: darkgray;" onclick="descriptionRow()" title="
							因客观气象条件而形成的大气波导能否将电磁波捕获在其内形成波导传播与电磁波的波长有关。一般来说，波长越短的电磁波，越容易被波导捕获。能被波导捕获的最大波长称为截止波长，与截止波长相对应的最低电波频率成为最低陷获频率。
由最大波长的计算公式可知：
(1)大气波导厚度远大于电磁波波长时，才能捕获电磁波形成波导传播；
(2)大气波导的厚度愈厚，可形成波导传播的电磁波波长范围的上限愈长；
(3)大气波导的强度愈强，可形成波导传播的电磁波波长范围的上限愈长。
							">
								<div class="card-body">
									<div class="dash-widget-header">
										<span class="dash-widget-icon text-success">
											<i class="fa fe-bookmark"></i>
										</span>
										<div class="dash-count">
											<h3 id="trap-freq" style="color: ghostwhite;">暂无</h3>
										</div>
									</div>
									<div class="dash-widget-info">
										<h6 class="text-muted">陷获频率</h6>
										<div class="progress progress-sm">
											<div class="progress-bar bg-success" style="background-color: #FDC839 !important;"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
                        <div class="col-sm-4 col-12">
							<div class="card" style="background-color: black;" onclick="descriptionRow()" title="
							因客观气象条件而形成的大气波导能否将电磁波捕获在其内形成波导传播与电磁波的波长有关。一般来说，波长越短的电磁波，越容易被波导捕获。能被波导捕获的最大波长称为截止波长，与截止波长相对应的最低电波频率成为最低陷获频率。
由最大波长的计算公式可知：
(1)大气波导厚度远大于电磁波波长时，才能捕获电磁波形成波导传播；
(2)大气波导的厚度愈厚，可形成波导传播的电磁波波长范围的上限愈长；
(3)大气波导的强度愈强，可形成波导传播的电磁波波长范围的上限愈长。
							">
								<div class="card-body">
									<div class="dash-widget-header">
										<span class="dash-widget-icon text-success">
											<i class="fa fe-eye"></i>
										</span>
										<div class="dash-count">
											<h3 id="radar-cost" style="color: ghostwhite;">暂无</h3>
										</div>
									</div>
									<div class="dash-widget-info">
										<h6 class="text-muted">雷达损耗</h6>
										<div class="progress progress-sm">
											<div class="progress-bar bg-success" style="background-color: #FDC839 !important;"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
                    <div class="row" id="description-row" style="display: none">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header" style="font-size: larger;color: black;">
									陷获频率与截至波长的相关描述
									<a data-toggle="modal" href="#picture-refraction" class="btn btn-sm bg-success-light" style="float: right">
										<i class="fe fe-camera"></i> 大气折射现象图示
									</a>
								</div>
								<div class="card-body">
									<h6>
										因客观气象条件而形成的大气波导能否将电磁波捕获在其内形成波导传播与电磁波的波长有关。一般来说，波长越短的电磁波，越容易被波导捕获。能被波导捕获的最大波长称为截止波长，与截止波长相对应的最低电波频率成为最低陷获频率。
									</h6>
									<ul>
										由最大波长的计算公式可知：
										<li>
											大气波导厚度远大于电磁波波长时，才能捕获电磁波形成波导传播；
										</li>
										<li>
											大气波导的厚度愈厚，可形成波导传播的电磁波波长范围的上限愈长；
										</li>
										<li>
											大气波导的强度愈强，可形成波导传播的电磁波波长范围的上限愈长。
										</li>
									</ul>
									<p>
										在通常情况下对于蒸发波导和常见的表面波导，最容易受波导影响而形成波导传播的是<span style="font-weight: bold">分米波</span>(波长100～10 cm ，频率0.3～3 GHz)和<span style="font-weight: bold">厘米波</span>(波长10～1 cm ，频率3～30 GHz)，特别是厘米波。
										常见的<span style="font-weight: bold">X波段</span>、<span style="font-weight: bold">C波段</span>、<span style="font-weight: bold">S波段</span>雷达发射和接收的电磁波是很容易受大气波导影响而形成波导传播的。
									</p>
								</div>
							</div>
						</div>
					</div>
                    <div>
                        <div class="card">
                            <div class="col-md-10 col-lg-6" >
                                <div class="card-header" >
									    <h4 class="card-title">选择所要展示的数据文件</h4>
							    	</div>
                                <div class="card-body">
                                    <div class="input-group">
                                        <select id="chartSelect" class="custom-select">
                                        </select>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" id="confirmSelect">确认</button>
                                        </div>
                                    </div>
								</div>
                            </div>
                        </div>
                    </div>

					<div class="row" >
						<div class="col-md-12" >
							<!-- Sales Chart -->
							<div class="card card-chart" >
								<div class="card-header" >
									<h4 class="card-title">波导柱形图</h4>
								</div>
								<div class="card-body" id='echarts-bar'>
									
								</div>
							</div>
						</div>
					</div>
                    <div class="row" >
						<div class="col-md-12 col-lg-6" >
							<!-- Sales Chart -->
							<div class="card card-chart" >
								<div class="card-header" >
									<h4 class="card-title">雷达损耗图</h4>
								</div>
								<div class="card-body" id='echarts-radar'>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-6" >

							<!-- Sales Chart -->
							<div class="card card-chart" >
								<div class="card-header" >
									<h4 class="card-title">电磁波损耗图</h4>
								</div>
								<div class="card-body" id='echarts-ele'>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Page Wrapper -->
		
		</div>

        <div class="modal fade" id="radar_update" role="dialog" style="display: none;" aria-hidden="true">
			<div class="card">
                <div class="card-header">
                    <h4 class="card-title">探测雷达基本信息情况
                    <button class="btn btn-secondary btn-lg" id="detail-button" onclick="radar_detail()" style="float: right;">隐藏</button>
                    </h4>
                    <p>本次更新时间：<span id="update-time" style="margin-bottom:0;color:#009efb;"></span></p>
                </div>
            </div>
		</div>

        <script type="text/javascript">
            if (chart_data.trap_freq != null) {
                document.getElementById("cutoff-len").innerHTML = chart_data.cutoff_len.toFixed(2);
                document.getElementById("trap-freq").innerHTML = chart_data.trap_freq.toFixed(2);
            }
            if (radar_cost != null) {
                document.getElementById("radar-cost").innerHTML = radar_cost.toFixed(2);
            }
        </script>
        <script src="static/js/selection.js"></script>
		<script src="static/js/dialog.js"></script>
		<script src="static/js/download.js"></script>
		<script src="static/js/upload.js"></script>
        <script src="static/js/ductInfor.js"></script>

		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="static/assets/js/jquery-1.10.2.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="static/assets/js/popper.min.js"></script>
        <script src="static/assets/js/bootstrap.min.js"></script>
		
		<!-- Slimscroll JS -->
        <script src="static/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		
		<script src="static/assets/plugins/raphael/raphael.min.js"></script>    
		<script src="static/assets/plugins/morris/morris.min.js"></script>  
		<script src="static/assets/js/chart.morris.js"></script>
		
		<!-- Custom JS -->
		<script  src="static/assets/js/script.js"></script>
				
		<script type="text/javascript" src="static/chart/index/main.js"></script>
		
    </body>
</html>