<!DOCTYPE html>
<html lang="en">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Mentoring - Login</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicon.png">

		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="static/assets/css/bootstrap-4.2.1.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="static/assets/css/font-awesome.min.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="static/assets/css/style.css">
		
		<!--[if lt IE 9]>
			<script src="static/assets/js/html5shiv.min.js"></script>
			<script src="static/assets/js/respond.min.js"></script>
		<![endif]-->



    </head>
    <body>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper login-body">
            <div class="login-wrapper">
            	<div class="container">
                	<div class="loginbox">
                    	<div class="login-left">
							<img class="img-fluid" src="static/assets/img/logo.png" alt="Logo">
                        </div>
                        <div class="login-right">
							<div class="login-right-wrap">
								<h1>Login</h1>
								<p class="account-subtitle">欢迎进入大气波导分析软件</p>
								
								<!-- Form -->
                                <form method="POST">
                                    {{ form.csrf_token }}
									<div class="form-group">
                                        {{ form.username(class_="form-control") }}
									</div>
									<div class="form-group">
                                        {{ form.password(class_="form-control") }}
									</div>
									<div class="form-group">
										<button class="btn btn-primary btn-block"  type="submit">Login</button>
									</div>
								</form>
								<!-- /Form -->
                                {% if message %}
                                    <h3>{{ message }}</h3>
								{% endif %}
								<div class="text-center forgotpass"><a href="forgot-password">Forgot Password?</a></div>
								<div class="login-or">
									<span class="or-line"></span>
									<span class="span-or">or</span>
								</div>
								
								<!-- Social Login -->

								<!-- /Social Login -->
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="static/assets/js/jquery-1.10.2.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="static/assets/js/popper.min.js"></script>
        <script src="static/assets/js/bootstrap.min.js"></script>
		
		<!-- Custom JS -->
		<script src="static/assets/js/script.js"></script>

    </body>
</html>