<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Mentoring - Dashboard</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicon.png">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-4.2.1.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="static/assets/css/font-awesome.min.css">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="static/assets/css/feathericon.min.css">
		
		<link rel="stylesheet" href="static/assets/plugins/morris/morris.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="static/assets/css/style.css">
		
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->

<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery.nicescroll.min.js"></script>
<script src="static/js/echarts.js"></script>
<script src="static/js/dialog.js"></script>
<script src="static/js/Information.js"></script>
<script src="static/js/notification.js"></script>

<script>
  $(document).ready(function() {
  
	var nice = $("html").niceScroll();  // The document page (body)
	
	$("#div1").html($("#div1").html()+' '+nice.version);
    
    $("#boxscroll").niceScroll({cursorborder:"",cursorcolor:"#00F",boxzoom:true}); // First scrollable DIV

    $("#boxscroll2").niceScroll("#contentscroll2",{cursorcolor:"#F00",cursoropacitymax:0.7,boxzoom:true,touchbehavior:true});  // Second scrollable DIV
    
  });
</script>
    </head>
    <body>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header">
			
				<!-- Logo -->
                <div class="header-left">
                    <a href="index" class="logo">
						<img src="static/assets/img/logo.png" alt="Logo">
					</a>
					<a href="index" class="logo logo-small">
						<img src="static/assets/img/logo-small.png" alt="Logo" width="30" height="30">
					</a>
                </div>
				<!-- /Logo -->
				
				<a href="javascript:void(0);" id="toggle_btn">
					<i class="fe fe-text-align-left"></i>
				</a>
				
				<div class="top-nav-search">

				</div>
				
				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fa fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->
				
				<!-- Header Right Menu -->
				<ul class="nav user-menu">
					
					<!-- Notifications -->
					<li class="nav-item dropdown noti-dropdown">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<i class="fe fe-bell"></i> <span class="badge badge-pill" id="infor_count"></span>
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">消息提醒</span>
								<a href="javascript:void(0)" class="clear-noti"> 隐藏 </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
									<script>
										readJson()
									</script>
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="report">查看所有消息</a>
							</div>
						</div>
					</li>
					<!-- /Notifications -->
					<!-- Write -->
					<li >
						<a data-toggle="modal" href="#text_inputs" title="信息上报">
							<i class="fe fe-file"></i>
						</a>
					</li>
					<!-- Write -->
						<!-- download-->
						<li >
							<a data-toggle="modal" href="#text_download" title="数据导出">
								<i class="fe fe-download"></i>
							</a>
						</li>
						<!-- <li >
							<a href="#" title="数据导出">
								<i class="fe fe-download" onclick="dianwo()"></i>
							</a>
							<div class="dropdown-menu" style="padding: 5px;">
								
								<script type="text/javascript">
									document.getElementById('zhezhao').style.display="none";
									function mez(){
										document.getElementById('zhezhao').style.display="";
									}
									function hidder(){
										document.getElementById('zhezhao').style.display="none";
									}
								</script>
				
							</div>
						</li> -->
						<!-- /download>
						<!-- upload -->
						<li >
							<a data-toggle="modal" href="#text_upload" title="数据上传">
								<i class="fe fe-upload"></i>
							</a>
						</li>
						<!-- <li class="nav-item dropdown noti-dropdown">
							<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" title="数据导入">
								<i class="fe fe-upload"></i>
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item"><input type="file" ></a>
								<a class="dropdown-item"><input type="file" ></a>
								<a class="dropdown-item"><input type="file" ></a>
								<a class="dropdown-item"><input type="file" ></a>
								<a class="dropdown-item"><input type="file" ></a>
									<button type="button" class="btn btn-primary" onclick="dianwo1()" style="color:#F8F9FA;float: right;">确认上传</button>
							</div>
								
						</li> -->
						<!-- /upload -->
					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img"><img class="rounded-circle" src="static/assets/img/profiles/avatar-12.jpg" width="31" alt="Ryan Taylor"></span>
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
								<div class="avatar avatar-sm">
									<img src="static/assets/img/profiles/avatar-12.jpg" alt="User Image" class="avatar-img rounded-circle">
								</div>
								<div class="user-text">
									<h6>汪宇晖</h6>
									<p class="text-muted mb-0">Administrator</p>
								</div>
							</div>
							<a class="dropdown-item" href="profile">个人设置</a>
							<a class="dropdown-item" href="logout">退出</a>
						</div>
					</li>
					<!-- /User Menu -->
					
				</ul>
				<!-- /Header Right Menu -->
				
            </div>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu" style="background: #293c55;">
						<ul>
							<li> 
								<a href="index"><span><font color="#CCCCCC">首页</font></span></a>
							</li>
							<li class="submenu" >
								<a href="#" style="background:#9ca8b8"><span><font color="#293c55"> 波导分析计算</font></span> <span class="menu-arrow"></span></a>
								<ul style="display : none;">
									<li><a href="evaporation"><font color="#CCCCCC">蒸发波导诊断</font></a></li>
									<li><a href="surfaceevaporation"><font color="#CCCCCC">表面波导与悬空波导诊断</font></a></li>
									<li><a class="active" href="futureheight"><font color="#1e88e5">未来波导高度预测</font></a></li>
								</ul>
							</li>

							<li class="submenu"> 
								<a href="#"><span><font color="#CCCCCC">电磁损耗计算</font></span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="electromagenetic"> <font color="#CCCCCC">电磁波传播损耗计算</font> </a></li>
									
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><span><font color="#CCCCCC"> 雷达有效距离探测 </font></span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="radar-valid-distance"><font color="CCCCCC">雷达有效探测性能</font> </a></li>
								
								
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><span><font color="#CCCCCC"> 用户权限管理 </font></span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="profile"><font color="#CCCCCC"> 个人信息设置 </font></a></li>
									<li><a href="user-management"><font color="#CCCCCC"> 用户信息管理 </font></a></li>
									<li><a href="forgot-password"><font color="#CCCCCC"> 修改密码 </font></a></li>
								</ul>
						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
                <div class="content container-fluid">
					<!-- <div class="zhezhao" id='zhezhao'  >
						<div class="tankuang" style="padding: 10px;">
							<div id="header">
									<div>			
										<form action="#">
											<div class="form-group row">
			
											</div>
											<div class="form-group row">
														<label class="col-form-label col-md-2" style="flex: 0 0 24.666667%;
													max-width: 24.666667%;padding-right: 5px;padding-left: 25px;font-weight: bolder;">近期数据打包</label>
														<div class="col-md-10" style="flex: 0 0 75.333333%;
													max-width:52.333333%;">
														<select class="form-control" style="width: 80%;float: right;">
															<option>-- Select --</option>
															<option>波导分析计算</option>
															<option>电磁损耗计算</option>
															<option>雷达有效距离</option>
															</select>
														</div>
														<button class="btn btn-primary"  >
															<a class="fe fe-download" style="font-size: 15px;color: #fff;float: right;" href="static/images/1.PNG" download="1.PNG">&nbsp;&nbsp;下载</a>
														</button>	
													</div>
											<div class="form-group row">
												<h5 style="padding-left:4%;color:#569CD6 ;font-weight: bolder;">精确下载选择👇</h5>
													</div>	
											<div class="form-group row">
												<label class="col-form-label col-md-2" style="flex: 0 0 24.666667%;
											max-width: 24.666667%;padding-right: 5px;padding-left: 25px;">地理位置-经度</label>
												<div class="col-md-10"  style="flex: 0 0 75.333333%;
											max-width: 75.333333%;">
													<input type="text" class="form-control" placeholder="122.27°E" style="width: 80%;float: right;">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-md-2" style="flex: 0 0 24.666667%;
											max-width: 24.666667%;padding-right: 5px;padding-left: 25px;">地理位置-纬度</label>
												<div class="col-md-10"  style="flex: 0 0 75.333333%;
											max-width: 75.333333%;">
													<input type="text" class="form-control" placeholder="31.65°N" style="width: 80%;float: right;">
												</div>
											</div>
										<div class="form-group row">
											<label class="col-form-label col-md-2" style="flex: 0 0 24.666667%;
										max-width: 24.666667%;padding-right: 5px;padding-left: 25px;">起始时间</label>
										
											<div class="col-md-10" style="flex: 0  75.333333%;
										max-width: 75.333333%;">
											<input type="datetime-local" style="width: 80%;float: right;" value="2020-11-4T13:59:59"/>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-2" style="flex: 0 0 24.666667%;
										max-width: 24.666667%;padding-right: 5px;padding-left: 25px;">结束时间</label>
											<div class="col-md-10" style="flex: 0 0 75.333333%;
										max-width: 75.333333%;">
											<input type="datetime-local" style="width: 80%;float: right;" value="2020-11-4T13:59:59"/>
											</div>
										</div>
										<div class="input-group-append" style="float: right;">
											<a class="btn btn-primary"   href="static/images/1.png" download="111" >确认选择并下载</a>
										</div>
									
									</form>
									
									
								</div>
								
								<div id="header-right" onclick="hidder()">x</div>
							</div>
						</div>
					</div>
					<script type="text/javascript">
						document.getElementById('zhezhao').style.display="none";
						function dianwo(){
							document.getElementById('zhezhao').style.display="";
						}
						function hidder(){
							document.getElementById('zhezhao').style.display="none";
						}
					</script>
			
			<div class="zhezhao1" id='zhezhao1'  >
				<div class="tankuang1" style="padding: 10px;">
					<div id="header">
							<div>			
								<form action="#">
									
									<center><h4 class="modal-title" style="padding-top: 5%;">确认上传</h4>
										<p class="mb-4">确定上传所有选中的文件？</p></center>
								<div class="input-group-append" style="float: left;padding-left:10%;padding-bottom: 2%; color: #fff;">
									<a class="btn btn-primary"  onclick="hidder1()"  >确&nbsp;&nbsp;认</a>
								</div>
								<div class="input-group-append" style="float: right;padding-right:10%;padding-bottom: 2%; color: #fff;">
									<a class="btn btn-danger"  onclick="hidder1()"  >取&nbsp;&nbsp;消</a>
								</div>
							
							</form>
							
							
						</div>
					</div>
				</div>
			</div>
			
			<script type="text/javascript">
				document.getElementById('zhezhao1').style.display="none";
				function dianwo1(){
					document.getElementById('zhezhao1').style.display="";
				}
				function hidder1(){
					document.getElementById('zhezhao1').style.display="none";
				}
			</script> -->
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">未来波导高度预测页面</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item active">当前所在地理位置：31.65°N, 122.27°E </li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->

					<div class="row">
						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card">
								<div class="card-body" style="background-color:#7b8b6f">
									<div class="dash-widget-header">
										<span class="dash-widget-icon text-primary border-primary">
											<i class="fa fa-thermometer"></i>
										</span>
										<div class="dash-count" id="whitefont">
											<h3 id='tem'>278K</h3>
										</div>
									</div>
									<div class="dash-widget-info">
										<h6 class="text-muted">大气温度</h6>
										<div class="progress progress-sm">
											<div class="progress-bar bg-primary w-50"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card">
								<div class="card-body" style="background-color:#965454">
									<div class="dash-widget-header">
										<span class="dash-widget-icon text-success">
											<i class="fa fa-umbrella"></i>
										</span>
										<div class="dash-count" id="whitefont">
											<h3 id='hum'>97%</h3>
										</div>
									</div>
									<div class="dash-widget-info">
										
										<h6 class="text-muted">大气湿度</h6>
										<div class="progress progress-sm">
											<div class="progress-bar bg-success w-100" style="background-color: #FDC839 !important"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card">
								<div class="card-body" style="background-color:#c7b8a1">
									<div class="dash-widget-header">
										<span class="dash-widget-icon text-danger ">
											<i class="fe fe-clock"></i>
										</span>
										<div class="dash-count" id="whitefont">
											<h3 id='press'>485hpa</h3>
										</div>
									</div>
									<div class="dash-widget-info">
										
										<h6 class="text-muted">大气压强</h6>
										<div class="progress progress-sm">
											<div class="progress-bar bg-warning w-50"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card">
								<div class="card-body" style="background-color:#8696a7">
									<div class="dash-widget-header">
										<span class="dash-widget-icon text-warning ">
											<i class="fe fe-frying-pan"></i>
										</span>
										<div class="dash-count" id="whitefont">
											<h3 id='wind'>50m/s</h3>
										</div>
									</div>
									<div class="dash-widget-info">
										
										<h6 class="text-muted">经纬风速</h6>
										<div class="progress progress-sm">
											<div class="progress-bar bg-warning w-50">
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
						
							
	
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="static/assets/js/popper.min.js"></script>
        <script src="static/assets/js/bootstrap.min.js"></script>
		
		<!-- Slimscroll JS -->
        <script src="static/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		
		<script src="static/assets/plugins/raphael/raphael.min.js"></script>    
		<script src="static/assets/plugins/morris/morris.min.js"></script>  
		<script src="static/assets/js/chart.morris.js"></script>
		
		<!-- Custom JS -->
		<script  src="static/assets/js/script.js"></script>						
		
		
		<!-- main chart-->
		
		<div class="card card-chart" >
			<div class="card-header" >
				<h4 class="card-title">蒸发波导预测信息</h4>
			</div>
			<div id="chart1" style="height: 500px;width: auto;">
			</div>
		</div>
		<!-- Sales Chart -->	
				
	

		<div class="card card-chart" >
			<div class="card-header" >
				<h4 class="card-title">未来波导高度预测信息</h4>
			</div>
			<div class="card card-chart" >
				<div>
					<script src="./echarts.min.js"></script>
					<script src="./data.js"></script>
					<div class="wrap">
						<div id="main" style="width: auto;
						height: 600px;"></div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12 col-lg-6">
				<div style="height: 500px;">
					<div class="card card-chart" >
						<div class="card-header" >
							<h4 class="card-title">蒸发波导诊断操作</h4>
						</div>
						<div class="card-body">
							<form action="#">
								<div class="form-group row">
									<label class="col-form-label col-md-2" style="flex: 0 0 24.666667%;
								max-width: 24.666667%;padding-right: 5px;padding-left: 25px;">RMSE</label>
									<div class="col-md-10"  style="flex: 0 0 75.333333%;
								max-width: 75.333333%;">
										<input type="text" id="rmse" readonly="readonly" class="form-control" value="1.5" style="width: 80%;float: right;">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-md-2" style="flex: 0 0 24.666667%;
								max-width: 24.666667%;padding-right: 5px;padding-left: 25px;">MAPE</label>
									<div class="col-md-10"  style="flex: 0 0 75.333333%;
								max-width: 75.333333%;">
										<input type="text" readonly="readonly" id="mape" class="form-control" value="2.59" style="width: 80%;float: right;">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-md-2" style="flex: 0 0 24.666667%;
								max-width: 24.666667%;padding-right: 5px;padding-left: 25px;">MAP</label>
									<div class="col-md-10"  style="flex: 0 0 75.333333%;
								max-width: 75.333333%;">
										<input type="text" readonly="readonly" id="map" class="form-control" value="0.5" style="width: 80%;float: right;">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-md-2" style="flex: 0 0 24.666667%;
								max-width: 24.666667%;padding-right: 5px;padding-left: 25px;">当前预测置信度</label>
									<div class="col-md-10"  style="flex: 0 0 75.333333%;
								max-width: 75.333333%;">
										<input type="text" readonly="readonly" id='r2' class="form-control" value="1" style="width: 80%;float: right;">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-md-2" style="flex: 0 0 24.666667%;
								max-width: 24.666667%;padding-right: 5px;padding-left: 25px;">下一时刻预测值</label>
									<div class="col-md-10"  style="flex: 0 0 75.333333%;
								max-width: 75.333333%;">
										<input type="text" readonly="readonly" id='nextvalue' class="form-control" value="0.622" style="width: 80%;float: right;">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<script src="static/chart/future-height/chart1.js"></script>
			<script src="static/chart/future-height/chart2.js"></script>
			

			<div class="col-md-12 col-lg-6" >
				
				<!-- Sales Chart -->
				<div class="card card-chart" >
					<!-- Sales Chart -->
				<div class="card card-chart">
					<div class="card-header">
						<h4 class="card-title">操作记录</h4>
					</div>
					<div class="card-body">
					
						<div id="boxscroll2">
							<div id="contentscroll2">
								<p><h6>已成功连接服务器，时间: 2020.9.30，19:59！</h6></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="static/js/download.js"></script>
		<script src="static/js/upload.js"></script>
				
				
					
		</div>
	</body>
</html>